body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
}

.green {
  color: green;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.h100vh {
  height: 100vh;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  width: 12rem;
}

.btn-group > .active {
  outline: 1px solid red;
}

.mb1 {
  margin-bottom: 1rem;
}
